@import "./Styles/Board.css";
@import "./Styles/NameInput.css";
@import "./Styles/Scoreboard.css";
@import "./Styles/Square.css";

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}
