.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  width: 15rem;
  height: 15rem;
}

.square {
  width: 5rem;
  font-size: 2rem;
  height: 5rem;
}

.square:hover {
  cursor: pointer;
}
